name = "freemail-v2"
main = "worker/src/server.js"
compatibility_date = "2024-01-01"

# D1 Database Binding
[[d1_databases]]
binding = "TEMP_MAIL_DB"
database_name = "maill_free_db" # Replace with your D1 database name
database_id = "c82663ac-62b6-4ba6-be81-cbe297f2a3dd" # Replace with your database_id

# Environment Variables
[vars]
# FORWARD_RULES="[{\"prefix\":\"vip\",\"email\":\"a@example.com\"},{\"prefix\":\"*\",\"email\":\"admin@example.com\"}]"

# Static Assets (Vite build output)
[assets]
directory = "dist"
binding = "ASSETS"

# R2 Bucket Binding (for full EML content)
[[r2_buckets]]
binding = "MAIL_EML"
bucket_name = "mail-eml"

# Observability
# [observability.logs]
# enabled = true
